name: Telegram Auto Study Bot

on:
  workflow_dispatch:
  schedule:
    # Every 30 minutes from 06:00 to 22:00 IST
    - cron: "30 0-16 * * *"

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install requests pytz

      - name: Run bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
          TIMEZONE: ${{ secrets.TIMEZONE }}
        run: |
          python bot.py
